{{#if user}}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
    <img style="width: 200px" src={{user.userImageUrl}} alt={{user.username}}>
    <a class="btn btn-primary" href="/{{user._id}}/create">Create Post</a>
    <a class="btn btn-primary" href="/{{user._id}}/list">Posts list</a>
    <a class="btn btn-primary" href="/logout">logout</a>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}